{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "@": "./src"
        }
      }]
    ],
    "presets": [
        ["@babel/preset-env", {
            "modules": "commonjs"
        }]
    ]
}
