.bg-gray {
    background-color: rgba(188, 188, 188, 0.986);
}

.container-width-height {
    width: 540px;
    height: 320px;
    padding: 7px;
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
}

.border-radius {
    border-radius: 10px;
}

.horizontal-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bg-image{
    opacity: 0.3;

}