<div class="container">
  <h3>Selecione um paciente</h3>
  <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">PACIENTE</th>
        <th scope="col">OPERAÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <% for (const patient of data.patients) { %>
        <tr>
          <td scope="row">
            <%= patient.id %>
          </td>
          <td>
            <%= patient.name %>
          </td>
          <td>
            <button class="btn"><a href="/menus/create?patient=<%= patient.id %>"><i class="fa-solid fa-eye icon"></i>Selecionar</a></button>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

