<form action="/menus/<%= data.resource.id %>/update" method="post">
    <label for="name">Menu: </label>
    <input id="name" name="name" value="<%= data.resource.name %>"/>
    <label for="time">Time: </label>
    <input id="time" name="time" value="<%= data.resource.time %>"/>
    <label for="notes">Notes: </label>
    <input id="notes" name="notes" value="<%= data.resource.notes %>"/>
    <input type="submit" value="Update"/>
</form>

<form action="/menus/<%= data.resource.id %>/delete" method="post">
    <input type="submit" value="Delete"/>
</form>