<h1>Current foods</h1>
<% for (const food of data.currentFoods) { %>
    <p>
        <%= food.id %>
        <%= food.name %>
        <%= food.amount %>
    </p>
    <form action="/menus/<%= data.menu.id %>/foods/<%= food.id %>/delete" method="post">
      <input type="submit" value="Delete">
    </form>
    <br>
<% } %>
<h1>Select foods</h1>
<% for (const food of data.foods) { %>
    <p>
        <%= food.id %>
        <%= food.name %>
    </p>
    <form action="/menus/<%= data.menu.id %>/foods/<%= food.id %>/amount" method="get">
      <input type="submit" value="Select">
    </form>
    <br>
<% } %>
