<div class="ms-5 me-5">
  <br><br>
<h1 class="text-center">Alimentos atuais</h1>
<br><br>
<table class="table table-bordered border-dark table-hover text-center table-light align-middle">
  <thead class="table-dark">
    <tr>
  <th scope="col">ALIMENTO</th>
  <th scope="col">QUANTIDADE</th>
  <th scope="col">HORÁRIO</th>
  <th scope="col">OPERAÇÃO</th>
    </tr>
  </thead>
  <tbody>
  <% for (const food of data.currentFoods) { %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.amount %></td>
      <td>
        <!-- adicionar horário da comida aqui -->
      </td>
      <td>
        <%- include('../../partials/formIcon', {
          to: `/menus/${data.menu.id}/foods/${food.id}/delete`,
          icon: 'fa fa-trash icon-trash',
        }) %>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
<br><br>
<h1 class="text-center">Selecione os alimentos</h1>
<br><br>
<div class="horizontal-group">
  <form class="form-search">
    <input type="hidden" name="column" value="name" >
    <input name="value" type="text" placeholder="Pesquisar por nome do alimento" size="50" class="form-control border border-dark">
    <button class="btn btn-login ms-2 me-2"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
  <button class="btn btn-login me-2"><a class="nav-link text-black" href="/foods">Mostrar todos</a></button>
  </div>
  <br><br>
<table class="table table-bordered border-dark table-hover text-center table-light align-middle">
  <thead class="table-dark">
    <tr>
  <th scope="col">ALIMENTO</th>
  <th scope="col">OPERAÇÃO</th>
    </tr>
  </thead>
  <tbody>
  <% for (const food of data.foods) { %>
    <tr>
      <td><%= food.name %></td>
      <td>
        <%- include('../../partials/formIcon', {
          to: `/menus/${data.menu.id}/foods/${food.id}/amount`,
          method: 'get',
          icon: 'fa fa-plus',
        }) %>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
</div>
