<div class="background">
  <div class="ms-5 me-5">
    <br><br>
    <h1 class="text-center">Cardápios</h1>
    <br><br>
    <div class="horizontal-group">
      <form class="form-search">
        <input type="hidden" name="column" value="name" >
        <input name="value" type="text" placeholder="Pesquisar por cardápio" size="50" class="form-control border border-dark">
        <button class="btn btn-login ms-2 me-2"><i class="fa-solid fa-magnifying-glass "></i></button>
      </form>
      <butto class="btn btn-login">
        <a href="/menus/patients" class="text-reset text-decoration-none"><i class="fa-solid fa-plus"></i>  Adicionar novo cardápio</a>
      </button>
    </div>
    <br>
    <br>
    <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">PACIENTE</th>
          <th scope="col">DATA</th>
          <th scope="col">OPERAÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <% for (const resource of data.resources) { %>
        <tr>
          <td scope="row">
            <%= resource.id %>
          </td>
          <td>
            <%= resource.name %>
          </td>
          <td>
            <%= resource.date %>
          </td>
          <td>
            <button class="btn"><a href="/menus/<%= resource.id %>/edit"><i class="fa-solid fa-eye icon"></i></a></button>
            <%- include('../../partials/formIcon', {
              to: `/menus/${resource.id}/delete`,
              icon: 'fa fa-trash icon-trash',
            }) %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <br><br><br>
  </div>
  </div>
