  <div class="m-5">
    <h1 class="text-center">Cardápios</h1>
    <br>
    <div class="horizontal-group">
      <form>
        <input type="hidden" name="column" value="name" >
        <input name="value" type="text" placeholder="Pesquisar por cardápio" size="50">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <button>
        <a href="/menus/create" class="text-reset text-decoration-none">Adicionar novo cardápio</a>
      </button>
    </div>
    <br>
    <br>
    <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">HORÁRIO</th>
          <th scope="col">PACIENTE</th>
          <th scope="col">NOME</th>
          <th scope="col">OBSERVAÇÕES</th>
          <th scope="col">OPERAÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <% for (const resource of data.resources) { %>
        <tr>
          <td scope="row">
            <%= resource.time %>
          </td>
          <td>
            <%= resource.name %>
          </td>
          <td>
            <% if (resource.patient) { %>
            <%= resource.patient?.[0]?.name %>
            <% } %>
          </td>
          <td>
            <%= resource.notes %>
          </td>
          <td>
            <button class="btn"><a href="/menus/<%= resource.id %>/edit"><i class="fa-solid fa-eye"></i></a></button>
            <button class="btn"><a href="/menus/<%= resource.id %>/foods"><i class="fa-solid fa-eye"></i></a></button>
            <button class="btn"><a href="/menus/<%= resource.id %>/patient"><i class="fa-solid fa-eye"></i></a></button>
            <form action="/menus/<%= resource.id %>/delete" method="post"><button class="btn"><i
                  class="fa fa-trash"></i></button></form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
