
  <div class="ms-5 me-5">
    <br><br>
    <h1 class="text-center">Alimentos</h1>
    <br><br>
    <div class="horizontal-group">
      <form class="form-search">
        <input type="hidden" name="column" value="name" >
        <input name="value" type="text" placeholder="Pesquisar por nome do alimento" size="50" class="form-control border border-dark">
        <button class="btn btn-login ms-2 me-2"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <button class="btn btn-login">
        <a href="/foods/create" class="text-reset text-decoration-none">Adicionar novo alimento</a>
      </button>
    </div>
    <br>
    <br>
    <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
      <thead class="table-dark">
        <tr>
      <th scope="col">ALIMENTO</th>
      <th scope="col">OPERAÇÃO</th>
        </tr>
      </thead>
      <tbody>
      <% for (const resource of data.resources) { %>
        <tr>
      <td><%= resource.name %></td>
          <td>
            <button class="btn"><a href="/foods/<%= resource.id %>/edit"><i class="fa-solid fa-eye icon"></i></a></button>
            <%- include('../../partials/formIcon', {
              to: `/foods/${resource.id}/delete`,
              icon: 'fa fa-trash icon-trash',
            }) %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
    <br><br><br>
  </div>

