  <div class="m-5">
    <h1 class="text-center">Alimentos</h1>
    <br>
    <div class="horizontal-group">
      <form>
        <input type="hidden" name="column" value="name" >
        <input name="value" type="text" placeholder="Pesquisar por nome do alimento" size="50">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <button>
        <a href="/foods/create" class="text-reset text-decoration-none">Adicionar novo alimento</a>
      </button>
    </div>
    <br>
    <br>
    <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
      <th scope="col">ALIMENTO</th>
      <th scope="col">QUANTIDADE</th>
      <th scope="col">OPERAÇÃO</th>
        </tr>
      </thead>
      <tbody>
<% for (const resource of data.resources) { %>
        <tr>
          <td scope="row"><%= resource.id %></td>
      <td><%= resource.name %></td>
      <td><%= resource.amount %></td>
          <td>
            <button class="btn"><a href="/foods/<%= resource.id %>/edit"><i class="fa-solid fa-eye"></i></a></button>
            <%- include('../../partials/formIcon', {
              to: `/foods/${resource.id}/delete`,
              icon: 'fa fa-trash',
            }) %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
