<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="justify-content-center align-content-center bg-body w-auto h-auto p-5 rounded-5 bg-body-secondary">
    <h1 class="fw-bold text-center pb-3">Erro 404</h1>
    <h2 class="fw-semibold pb-3">Página não encontrada!</h2>
    <hr>
    <div class="d-flex justify-content-center align-content-center">
      <a href="/" class="btn btn-primary fw-bold p-5 pb-3 pt-3">Voltar ao Inicio</a>
    </div>
  </div>
</div>