<main class="infinity-container">
    <header class="infinity-header">
    </header>
    <div class="infinity-inner-container infinity-inner-container-reverse">
        <img class="thoth-logo" src="/public/img/thoth.png"/>
        <p class="infinity-text">
            São 4444 linhas
            <br>
            Se fossem mais 3333 linhas ainda 
            <br>
            não estaria 
            <br>
            pronto
            <br>
            <br>
            Apesar dos
            <br>
            Deuses locais
            <br>
            <br>
            Que possui o poderes de construir, reconstruir e destruir
            <br>
            <br>
            Longe do ômega
            <br>
            <br>
            Encontre a si mesmo
            <br>
            Terminando
        </p>
    </div>
    <footer class="infinity-footer">
    </footer>
</main>
<script>
    document.addEventListener("keydown", (e) => {
        if (e.key === "Tab") {
            window.location = "/infinity3"
        }
    });
</script>