<div class="container bg-white container-width-height border-radius align-content-center">

  <form method="post" action="/session" class="form-signin form-margin text-center  ">
    <div>
      <h4>Entre com os dados de Login</h4>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="login" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email de Login</label>
      <p><%= formErrors?.login%></p>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
      <p><%= formErrors?.password%></p>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a href = "/users/create"><button type="button" class="btn btn-success">Cadastrar</button></a>
    </div>
    <div>
      
    </div>
  </form>

</div> <!-- /container -->