<% for (const resource of data.resources) { %>
    <table class="table table-bordered border-dark table-hover">
        <tr>
          <th scope="col">RESTRICTION</th>
          <th scope="col">OPERATION</th>
        </tr>
        <tr>
          <td scope="row"><%= resource.name %></td>
          <td>
            <button class="btn"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
    <a href="/restrictions/<%= resource.id %>/edit">Update</a>
    <br>
    <% } %>
    <a href="/restrictions/create">Create</a>
    <%= formErrors?.name %>