<h1>Current restrictions</h1>
<% for (const restriction of data.currentRestrictions) { %>
    <p>
        <%= restriction.id %>
        <%= restriction.name %>
    </p>
    <br>
<% } %>
<h1>Select restrictions</h1>
<% for (const restriction of data.restrictions) { %>
    <p>
        <%= restriction.id %>
        <%= restriction.name %>
    </p>
    <form action="/patients/<%= data.patient.id %>/restrictions/<%= restriction.id %>" method="post">
      <input type="submit" value="Select">
    </form>
    <br>
<% } %>
