<div class="ms-5 me-5">
  <br>
  <br>
<h1 class="text-center">Menus atuais</h1>
<br>
<br>
<table class="table table-bordered border-dark table-hover text-center table-light align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">NOME</th>
        <th scope="col">OPERAÇÃO</th>
      </tr>
    </thead>
    <tbody>
      <% for (const menu of data.menus) { %>
        <tr>
          <td scope="row">
            <%= menu.name %>
          </td>
          <td>
            <button class="btn"><a href="/menus/<%= menu.id %>/foods/"><i
              class="fa-solid fa-eye icon"></i></a></button>
            <%- include('../../partials/formIcon', {
              to: `/restrictions/${menu.id}/delete`,
              icon: 'fa fa-trash icon-trash',
            }) %>
          </td>
        </tr>
      <% } %>
    </tbody>
</table>
</div>
