  <div class="container bg-gray container-width-height-create border-radius align-content-center border border-dark ">

    <form action="/patients/<%= data.resource.id %>/update" method="post" class="form-signin form-margin text-center ">
      <div class="flex">
        <div>
          <h4 class="mt-4">Editar paciente</h4>
          <br>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <%- include('../../partials/form/text', {
               name: 'name',
               label: 'Nome do paciente',
               value: data.resource.name,
            }) %>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <%- include('../../partials/form/text', {
               name: 'document',
               label: 'CPF',
               placeholder: '123.456.789-00',
               value: data.resource.document,
               className: 'format-cpf',
            }) %>
          </div>
        </div>
      </div>
      <%- include('../../partials/form/date', {
         name: 'birthdate',
         label: 'Data de nascimento',
         placeholder: '01/01/2000',
         value: data.resource.birthdate.toISOString().split('T')[0],
      }) %>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <%- include('../../partials/form/number', {
               name: 'height',
               label: 'Altura(em centímetros)',
               min: 0,
               value: data.resource.height,
            }) %>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <%- include('../../partials/form/number', {
               name: 'weight',
               label: 'Peso(em quilogramas)',
               min: 0,
               value: data.resource.weight,
            }) %>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <select id="sex" name="sex" class="form-control border border-dark">
              <option disabled selected value>Selecione</option>
              <option <%= data.resource.sex === 'M' ? 'selected' : '' %> value="M">Masculino</option>
              <option <%= data.resource.sex === 'F' ? 'selected' : '' %> value="F">Feminino</option>
            </select>
            <label for="sex">Sexo </label>
            <p><%= formErrors?.sex %></p>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <%- include('../../partials/form/text', {
               name: 'historic',
               label: 'Histórico',
               value: data.resource.historic,
            }) %>
          </div>
        </div>
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-login ms-2 me-2">Salvar</button>
      </div>
    </form>
  </div> <!-- /container -->

