<% for (const resource of data.resources) { %>
    
    <table class="table table-bordered border-dark table-hover">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">DOCUMENT</th>
          <th scope="col">HEIGHT</th>
          <th scope="col">WEIGHT</th>
          <th scope="col">SEX</th>
          <th scope="col">HISTORIC</th>
          <th scope="col">OPERATION</th>
        </tr>
        <tr>
          <td scope="row"><%= resource.id %></td>
          <td><%= resource.name %></td>
          <td><%= resource.document %></td>
          <td><%= resource.heigth %></td>
          <td><<%= resource.weigth %>/td>
          <td><%= resource.sex %></td>
          <td><%= resource.historic %></td>
          <td>
            <button class="btn"><i class="fa fa-utensils"></i></button>
            <button class="btn"><i class="fa fa-ban"></i></button>
            <button class="btn"><i class="fa fa-pencil"></i></button>
            <button class="btn"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>

    <a href="/patients/<%= resource.id %>/edit">View</a>
    <br>
    <% } %>
    <a href="/patients/create">Create</a>
    <%= formErrors?.name %>

