  <div class="m-5">
    <h1 class="text-center">Pacientes</h1>
    <br>
    <input type="text" placeholder="Pesquisar por nome do paciente" size="50">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
    <button>
      <a href="/patients/create" class="text-reset text-decoration-none">Adicionar novo paciente</a>
    </button>
    <br>
    <br>
    <table class="table table-bordered border-dark table-hover text-center table-light align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">CPF</th>
          <th scope="col">ALTURA</th>
          <th scope="col">PESO</th>
          <th scope="col">SEXO</th>
          <th scope="col">HISTÓRICO</th>
          <th scope="col">OPERAÇÃO</th>
        </tr>
      </thead>
      <tbody>
<% for (const resource of data.resources) { %>
        <tr>
          <td scope="row">
            <%= resource.id %>
          </td>
          <td>
            <%= resource.name %>
          </td>
          <td>
            <%= resource.document %>
          </td>
          <td>
            <%= resource.height %>
          </td>
          <td>
            <%= resource.weight %>
          </td>
          <td>
            <%= resource.sex %>
          </td>
          <td>
            <%= resource.historic %>
          </td>
          <td>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <button class="btn"><a href="/patients/<%= resource.id %>/edit"><i
                    class="fa-solid fa-eye"></i></a></button>
              <button class="btn"><a href="/patients/<%= resource.id %>/menus"></a><i class="fa fa-utensils"></i></button>
              <button class="btn"><a href="/patients/<%= resource.id %>/restrictions"></a><i class="fa fa-ban"></i></button>
              <form class="m-0 p-0" action="/patients/<%= resource.id %>/delete" method="post">
                <button class="btn">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>